<template>
  <div class="container">
    <div class="header">
      <h1 class="title"><img class="logo" :src="logoLink"/>SITE LAUNCHER</h1>
    </div>
    <div class="row">
      <div id="search-container">
        <span class="icon-search"></span>
        <input id="search-input" v-model="search" @keyup="searchChange" type="text" placeholder="Search">
      </div>
    </div>
    <div class="row" id="site-grid">
      <Site v-for="site in sitesFiltered" :key="site.name" :site="site"></Site>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import _ from 'lodash'
import Site from '@/components/Site.vue'
import data from '@/assets/data.json'
import { SiteModel } from '@/models/Site'

export default Vue.extend({
  name: 'Home',
  metaInfo: {
    title: 'Site Launcher'
  },
  components: {
    Site
  },
  data: function () {
    return {
      logoLink: require('@/assets/images/static/logo.png'),
      search: '',
      sites: {},
      sitesFiltered: {}
    }
  },
  created () {
    this.sites = _.orderBy(data, ['name'])
    this.sitesFiltered = this.sites
  },
  mounted: function () {
    document.addEventListener('DOMContentLoaded', function () {
      var divGrid = document.querySelector('#site-grid') as HTMLElement
      var grid = Array.from(divGrid.children) as Array<HTMLElement>
      var baseOffset = grid[0].offsetTop
      var breakIndex = grid.findIndex(item => item.offsetTop > baseOffset)
      var numPerRow = (breakIndex === -1 ? grid.length : breakIndex)

      var searchContainer = document.querySelector('#search-container') as HTMLElement
      var searchInput = document.querySelector('#search-input') as HTMLElement

      if (numPerRow > 0) {
        searchContainer.style.display = 'block'
        if (window.innerWidth <= 767) {
          searchInput.style.width = 250 - 28 + 'px' // 28 is the difference between container real size with the search input
        } else {
          if (numPerRow === 1) {
            searchInput.style.width = 500 - 28 + 'px' // 28 is the difference between container real size with the search input
          } else {
            searchInput.style.width = (numPerRow * 530) - (30 + 28) + 'px' // 30 is the margin value of left and right that exceed && 28 is the difference between container real size with the search input
            console.log((numPerRow * 530) - 30)
          }
        }
      }
    })
  },
  methods: {
    searchChange: function () {
      var searchString = this.search.toUpperCase()

      this.sitesFiltered = this.sites

      if (searchString !== '') {
        this.sitesFiltered = _.filter(this.sites, function (site: SiteModel) {
          if (_.includes(site.name.toUpperCase(), searchString)) {
            return true
          }
          return false
        })
      }
    }
  }
})
</script>

<style lang="scss">
body{
  margin: 0;

  .container {
    width: 100%;

    .header{
      width: 100%;
      height: 100px;
      background-color: #fbdcc4;
      margin-bottom: 10px;

      .title{
        position: relative;
        top: -15px;
        margin: 0;
        font-family: "BungeeShade";
        font-size: 50px;
        text-align: center;

        .logo{
          position: relative;
          top: 20px;
          margin-right: 15px;
          height: 70px;
        }
      }
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      #search-container{
        display: none;
        position: relative;
        margin: 10px;

        span{
          position: absolute;
          top: 5px;
          right: 5px;
        }

        #search-input{
          padding: .375rem .75rem;
          font-size: 1rem;
          line-height: 1.5;
          border: 2px solid black;
          border-radius: .25rem;
        }

        #search-input:focus{
          outline: 2px solid #fbdcc4;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  body{
    .container {
      .header{
        height: 80px;

        .title {
          top: 10px;
          font-size: 25px;

          .logo {
            top: 13px;
            margin-right: 8px;
            height: 40px;
          }
        }
      }
    }
  }
}
</style>
