<template>
  <div class="environment">
    <button
      v-if="environment.name == 'Production'"
      v-on:click="clickEnvironment"
      class="environment-button production icon-globe"
    ></button>
    <button
      v-if="environment.name == 'Préproduction'"
      v-on:click="clickEnvironment"
      class="environment-button preproduction icon-deal"
    ></button>
    <button
      v-if="environment.name == 'Local'"
      v-on:click="clickEnvironment"
      class="environment-button local icon-engrenage"
    ></button>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'Environment',
  props: {
    environment: Object,
    site: Object
  },
  methods: {
    clickEnvironment: function (event: PointerEvent) {
      this.$store.commit('siteSelected', this.site)

      var target = event.target as HTMLElement

      if (!target.classList.contains('active')) {
        this.clearActiveEnvironments()
        target.classList.add('active')
        this.$store.commit('environmentSelected', this.environment)
      } else {
        this.clearActiveEnvironments()
        this.$store.commit('environmentSelected', null)
      }
    },
    clearActiveEnvironments: function () {
      var elements = []

      var iterator = document.evaluate(
        '//*[@class="environment"]/button',
        document.body,
        null,
        XPathResult.UNORDERED_NODE_ITERATOR_TYPE,
        null
      )

      try {
        var thisNode = iterator.iterateNext()
        while (thisNode) {
          elements.push(thisNode)
          thisNode = iterator.iterateNext()
        }
      } catch (e) {
        console.log('Error: Document tree modified during iteration ' + e)
      }

      for (let i = 0; i < elements.length; i++) {
        var currentElement = elements[i] as HTMLElement
        currentElement.classList.remove('active')
      }
    }
  }
})
</script>

<style lang="scss">
.environment {
  width: 100%;
  height: 100%;

  .environment-button {
    width: 100%;
    height: 100%;
    border: none;
    transition-duration: 1s;
  }

  .environment-button:hover {
    filter: brightness(80%);
  }

  .environment-button.active {
    filter: brightness(80%);
  }
}

.environment:first-child > .environment-button {
  border-top-right-radius: 25px;
}

.environment:last-child > .environment-button {
  border-bottom-right-radius: 25px;
}

.production {
  background-color: #a2d2ff;
}

.preproduction {
  background-color: #fee440;
}

.local {
  background-color: #b3e283;
}
</style>
