<template>
  <div class="link">
    <a :href="link.link" target="_blank">
      <span v-if="link.name.startsWith('Front-Office')" class="badge bg-melon">{{ link.name }}</span>
      <span v-if="link.name.startsWith('Back-Office')" class="badge bg-blue">{{ link.name }}</span>
      <span v-if="link.name.startsWith('Extranet')" class="badge bg-grass">{{ link.name }}</span>
      <span v-if="link.name.startsWith('API')" class="badge bg-yellow">{{ link.name }}</span>
      <span v-if="link.name.startsWith('Gitlab')" class="badge bg-orange">{{ link.name }}</span>
      <span v-if="link.name.startsWith('Sentry')" class="badge bg-purple">{{ link.name }}</span>
    </a>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'Link',
  props: {
    link: Object
  }
})
</script>

<style lang="scss">
.link {
  margin: 10px;
  font-family: "Rubik";

  .badge{
    display: inline-block;
    padding: .35em .65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
  }
}

.link > a {
  color: black;
}

.bg-yellow{
  background-color: #ffe78f;
}

.bg-orange{
  background-color: #ffbb91;
}

.bg-melon{
  background-color: #eb8f8f;
}

.bg-pink{
  background-color: #f6bed6; // not use yet
}

.bg-purple{
  background-color: #c5a9e4;
}

.bg-blue{
  background-color: #a2d5f2;
}

.bg-grass{
  background-color: #8fc0a9;
}

.bg-green{
  background-color: #bbd196; // not use yet
}

.bg-grey{
  background-color: #ebe6e6; // not use yet
}

@media screen and (max-width: 767px) {
  .link {
    margin: 5px;

    .badge{
      font-size: .5em;
    }
  }
}
</style>
