<template>
  <div class="site" :id="slugify(site.name)">
    <div v-if="site.lead" class="site-lead"><span>Lead Dev</span></div>
    <div class="col-left-front">
      <img class="site-image" :src="imageLink" />
      <div class="site-name">
        <b>{{ site.name }}</b>
      </div>
    </div>
    <div class="col-left-back">
      <img class="site-image darker" :src="imageLink" />
      <div v-if="null != environmentSelected" class="environment-name">
        <b>{{ environmentSelected.name }}</b>
      </div>
      <div class="links">
        <template v-for="environment in site.environments">
          <template v-for="link in environment.links">
            <Link
              v-if="null != environmentSelected && environment.name == environmentSelected.name"
              :key="link.name"
              :link="link"
            ></Link>
          </template>
        </template>
      </div>
    </div>
    <div class="col-right">
      <Environment
        v-for="environment in site.environments"
        :key="environment.name"
        :environment="environment"
        :site="site"
      ></Environment>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Environment from '@/components/Environment.vue'
import Link from '@/components/Link.vue'

export default Vue.extend({
  name: 'Site',
  props: {
    site: Object
  },
  components: {
    Environment,
    Link
  },
  data: function () {
    return {
      imageLink: require('@/assets/' + this.site.image)
    }
  },
  computed: {
    environmentSelected: function () {
      return this.$store.getters.environmentSelected
    }
  },
  methods: {
    slugify: function (str: string) {
      str = str.replace(/^\s+|\s+$/g, '') // trim
      str = str.toLowerCase()

      // remove accents, swap ñ for n, etc
      var from = 'åàáãäâèéëêìíïîòóöôùúüûñç·/_,:;'
      var to = 'aaaaaaeeeeiiiioooouuuunc------'

      for (var i = 0, l = from.length; i < l; i++) {
        str = str.replace(new RegExp(from.charAt(i), 'g'), to.charAt(i))
      }

      str = str
        .replace(/[^a-z0-9 -]/g, '') // remove invalid chars
        .replace(/\s+/g, '-') // collapse whitespace and replace by -
        .replace(/-+/g, '-') // collapse dashes
        .replace(/^-+/, '') // trim - from start of text
        .replace(/-+$/, '') // trim - from end of text

      return str
    }
  },
  watch: {
    environmentSelected (value) {
      var siteSelected = this.$store.getters.siteSelected
      var leadSiteSelected = document.querySelector('#' + this.slugify(siteSelected.name) + ' > .site-lead') as HTMLElement
      var frontSiteSelected = document.querySelector('#' + this.slugify(siteSelected.name) + ' > .col-left-front') as HTMLElement
      var backSiteSelected = document.querySelector('#' + this.slugify(siteSelected.name) + ' > .col-left-back') as HTMLElement

      var oldSiteSelected = this.$store.getters.oldSiteSelected
      var leadOldSiteSelected = (oldSiteSelected != null) ? document.querySelector('#' + this.slugify(oldSiteSelected.name) + ' > .site-lead') as HTMLElement : null
      var frontOldSiteSelected = (oldSiteSelected != null) ? document.querySelector('#' + this.slugify(oldSiteSelected.name) + ' > .col-left-front') as HTMLElement : null
      var backOldSiteSelected = (oldSiteSelected != null) ? document.querySelector('#' + this.slugify(oldSiteSelected.name) + ' > .col-left-back') as HTMLElement : null

      if (value != null) {
        if (leadOldSiteSelected != null) leadOldSiteSelected.style.display = 'block'
        if (frontOldSiteSelected != null) frontOldSiteSelected.style.display = 'block'
        if (backOldSiteSelected != null) backOldSiteSelected.style.display = 'none'

        if (leadSiteSelected != null) leadSiteSelected.style.display = 'none'
        frontSiteSelected.style.display = 'none'
        backSiteSelected.style.display = 'block'
      } else {
        if (leadSiteSelected != null) leadSiteSelected.style.display = 'block'
        frontSiteSelected.style.display = 'block'
        backSiteSelected.style.display = 'none'
      }
    }
  }
})

</script>

<style lang="scss">
.site {
  height: 300px;
  width: 500px;
  margin: 15px;
  border-radius: 25px;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  animation: bounceIn 450ms linear forwards;

  .site-lead {
    width: 150px;
    height: 150px;
    top: -10px;
    left: -10px;
    overflow: hidden;
    position: absolute;
  }

  .site-lead::before,
  .site-lead::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #892140;
    border-top-color: transparent;
    border-left-color: transparent;
  }

  .site-lead::before {
    top: 0;
    right: 0;
  }

  .site-lead::after {
    bottom: 0;
    left: 0;
  }

  .site-lead span {
    position: absolute;
    right: -25px;
    top: 30px;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: #a9294f;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
    transform: rotate(-45deg);
  }

  .col-left-front, .col-left-back {
    width: 400px;
    height: 100%;

    .site-image {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }
  }

  .col-left-front{
    .site-name {
      position: relative;
      top: -70px;
      margin: 0 50px;
      padding: 5px 0;
      text-align: center;
      background-color: white;
      border-radius: 25px;
      font-family: "Rubik";
      font-size: 22px;
      text-transform: uppercase;
      box-shadow: 0px 4px 10px 0 rgba(0,0,0,0.2);
    }
  }

  .col-left-back {
    display: none;

    .environment-name{
      position: relative;
      top: -300px;
      margin-top: 20px;
      text-align: center;
      font-family: "Rubik";
      font-size: 20px;
      color: white;
      text-transform: uppercase;
    }

    .links{
      position: relative;
      top: -300px;
      margin: 20px;
      display: flex;
      flex-wrap: wrap;
    }
  }

  .col-right {
    width: 100px;
    height: 100%;
    display: grid;
  }
}

.site:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.darker{
  filter: brightness(50%);
}

@keyframes bounceIn{
  0% {
      opacity: 0;
      transform: scale(0.3) translate3d(0,0,0);
  }

  50% {
      opacity: 0.9;
      transform: scale(1.1);
  }

  80% {
      opacity: 1;
      transform: scale(0.89);
  }

  100% {
      opacity: 1;
      transform: scale(1) translate3d(0,0,0);
  }
}

@media screen and (max-width: 767px) {
  .site{
    height: 150px;
    width: 250px;

    .col-left-front, .col-left-back {
      width: 200px;
      height: 150px;
    }

    .col-left-front{
      .site-name {
        top: -40px;
        margin: 0 10px;
        font-size: 13px
      }
    }

    .col-left-back {
      .environment-name{
        top: -160px;
        font-size: 15px;
      }

      .links{
        top: -150px;
        margin: 5px;
      }
    }

    .col-right {
      width: 50px;
      height: 150px;
    }
  }
}
</style>
