<template>
  <router-view/>
</template>

<style lang="scss">
@font-face {
  font-family: "BungeeShade";
  src: url("assets/fonts/BungeeShade-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("assets/fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("assets/fonts/Rubik-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Icomoon";
  src: url("assets/fonts/Icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e903";
  font-size: 30px;
}
.icon-deal:before {
  content: "\e900";
  font-size: 50px;
}
.icon-engrenage:before {
  content: "\e901";
  font-size: 50px;
}
.icon-globe:before {
  content: "\e902";
  font-size: 50px;
}

@media screen and (max-width: 767px) {
  .icon-deal:before {
    font-size: 30px;
  }
  .icon-engrenage:before {
    font-size: 30px;
  }
  .icon-globe:before {
    font-size: 30px;
  }
}
</style>
